.header{
    position: fixed;
    top: 0;
    padding: 0 40px;
    width: 100%;
    height: 11vh;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.header_black{
    background-color: #111;
}
.header_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    object-fit: contain;
    cursor: pointer;
}
.avatar{
    width: 30px;
    cursor: pointer;
}