@media screen and (max-width: 700px) {
    .profile_contents > h1{
        font-size: 24px !important;
    }
    .profile{
        padding-top: 50px;
        max-width: 100%;
    }
    .profile_contents{
        max-width: 400px !important;
        width: 70vw;
    }
    .info > img{
        height: 60px !important;
    }
    .details > h2, button{
        font-size: 14px !important;
    }
    .details{
        margin-left: 10px !important;
    }
}
.profile_button{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border: none;
    background-color: #e50914;
}
.profile{
    height: 100vh;
    color: #fff;
}
.profile_contents{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}
.profile_contents > h1{
    font-size: 50px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.info{
    display: flex;
}
.info > img{
    height: 100px;
}
.details{
    color: #fff;
    margin-left: 25px;
    flex: 1;
}
.details > h2{
    background-color: gray;
    padding-left: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}
.plans{
margin-top: 20px;
}
.plans > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}
.wrap{
    display: flex;
}