@media screen and (max-width: 700px) {
    .row{
        margin-left: 0 !important;
    }
}
.row{
    color: #fff;
    margin-left: 20px;
    padding-bottom: 20px;
}
.row h2{
    margin-left: 20px;
}
.poster_row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.poster_row::-webkit-scrollbar{
    display: none;
}
.poster{
    max-height: 250px;
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    transition: transform 500ms;
}
.poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.large_poster{
    max-height: 300px;
}
.large_poster:hover{
    opacity: 1;
    transform: scale(1.08);
}
p{
    color: #fff;
}