.signup{
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    flex-direction: column;
    padding: 3%;
    margin-top: -10vh;
    width: 400px;
}
.signup > h1{
    font-weight: 500;
}
.signup > form{
    display: grid;
    flex-direction: column;
}
.signup > form > input{
    padding: 10px;
    outline-width: 0;
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 0.35rem;
}
.signup > form > button{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    margin: 15px 0;
    border-radius: 0.35rem;
    background-color: rgb(229,9,20);
}
.signup > form > span{
    display: flex;
    width: 100%;
    justify-content: center;
}
.signup > form > span > h4{
    font-weight: 400;
    opacity: 0.5;
    padding-right: 4px;
}
p{
    color: #fff;
    font-weight: 700;
}
p:hover{
    text-decoration: underline;
    cursor: pointer;
}